<div class="container">
  <div *ngIf="user">
    <h2>{{ user.fullName }} Details</h2>
    <div class="row">
      <div class="col-md-6">
        <div class="card mb-3">
          <div class="card-body">
            <h5 class="card-title">Personal Information</h5>
            <ul class="list-group">
              <li class="list-group-item">Email: {{ user.email }}</li>
              <li class="list-group-item">Country: {{ user.country }}</li>
              <li class="list-group-item">Address: {{ user.address }}</li>
              <li class="list-group-item">Birth Date: {{ user.birthDate }}</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <img src="{{ user.imagePath }}" class="card-img-top" alt="Student Image">
        </div>
      </div>
    </div>

    <h2>{{ user.fullName }} Courses</h2>
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let course of courses">
        {{ course.name }} - {{ course.instructor }}
      </li>
    </ul>
  </div>
</div>
