.table-responsive {
  overflow-x: auto;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table th,
.table td {
  padding: 8px;
}

.table-actions {
  display: flex;
  align-items: flex-start;
  gap: 8px;
}

.table-actions .btn {
  cursor: pointer;
}

.table-actions .btn i {
  font-size: 16px;
}

.table-active input[type="checkbox"] {
  margin: 0;
}

@media (max-width: 767px) {
  .table thead {
    display: none;
  }

  .table tbody tr {
    display: block;
    margin-bottom: 20px;
    // border: 1px solid #ccc;
    border-radius: 4px;
  }

  .table tbody td {
    display: flex;
    align-items: center;
    border-top: none;
    border-bottom: none;
    border-right: none;
    padding: 8px;
  }

  .table tbody td::before {
    content: attr(data-label);
    font-weight: bold;
    margin-right: 8px;
  }

  .table-actions {
    flex-wrap: wrap;
  }

  .table-actions .btn {
    margin-bottom: 8px;
  }
}
