<div class="reset-password">
  <h3 class="reset-password__title">Reset Password</h3>
  <p class="reset-password__description">Enter your new password below.</p>

  <ng-container *ngIf="!userIsAuthenticated; else notAuthenticatedMessage">
    <form class="reset-password__form" (ngSubmit)="onSubmit()" [formGroup]="resetForm">
      <div class="form-group">
        <label for="password" class="form-label">New Password:</label>
        <input type="password" id="password" formControlName="password" class="form-control" required>
      </div>
      <div class="form-group">
        <label for="confirmPassword" class="form-label">Confirm Password:</label>
        <input type="password" id="confirmPassword" formControlName="confirmPassword" class="form-control" required>
      </div>
      <button type="submit" class="btn reset-password" [disabled]="resetForm.invalid">Reset Password</button>
      <p *ngIf="isPasswordReset" class="success-message">Password reset successfully, please login.</p>
    </form>
  </ng-container>

  <ng-template #notAuthenticatedMessage>
    <p class="error-message">Please authenticate to reset your password.</p>
  </ng-template>
</div>
