<br />
<link rel="stylesheet" href="/assets/plugins/feather/feather.css" />

<div
  class="page-content"
  style="transform: none;"
>
  <div class="container" style="transform: none;">
    <div class="row" style="transform: none;">
      <div
        class="col-xl-3 col-md-4 theiaStickySidebar"
        style="
          position: relative;
          overflow: visible;
          box-sizing: border-box;
          min-height: 1px;
        "
      >
        <div
          class="theiaStickySidebar"
          style="
            padding-top: 0px;
            padding-bottom: 1px;
            position: static;
            transform: none;
            top: 0px;
            left: 143.5px;
          "
        >
          <div class="settings-widget dash-profile mb-3">
            <div class="settings-menu p-0">
              <div class="profile-bg">
                <h5>Staff</h5>

                <img src="/assets/images/profile-bg.jpg" alt="" />
                <div class="profile-img">
                  <a href="#"
                    ><img src="/assets/images/user/user11.jpg" alt=""
                  /></a>
                </div>
              </div>
              <div class="profile-group">
                <div class="profile-name text-center">
                  <h4>
                    <a href="#">abdelrahman@gmial.com</a>
                  </h4>

                  <p>Staff</p>
                </div>
                <div class="go-dashboard text-center">
                  <a href="" class="btn btn-primary"
                    >Create New Course</a
                  >
                </div>
              </div>
            </div>
          </div>
          <div class="settings-widget account-settings">
            <div class="settings-menu">
              <h3>DASHBOARD</h3>
              <ul>
                <li class="nav-item active">
                  <a href="" class="nav-link">
                    <i class="feather-home"></i> My Dashboard
                  </a>
                </li>
                <li class="nav-item">
                  <a href="" class="nav-link">
                    <i class="feather-book"></i> My Courses
                  </a>
                </li>
                <li class="nav-item">
                  <a href="" class="nav-link">
                    <i class="feather-book"></i> Reviews
                  </a>
                </li>
                <li class="nav-item">
                  <a href="" class="nav-link">
                    <i class="feather-users"></i> Students
                  </a>
                </li>
              </ul>
            </div>
            <div class="settings-menu">
              <h3>ACCOUNT SETTINGS</h3>
              <ul>
                <li class="nav-item active">
                  <a href="" class="nav-link">
                    <i class="feather-settings"></i> Edit Profile
                  </a>
                </li>
                <li class="nav-item">
                  <a href="" class="nav-link">
                    <i class="feather-user"></i> Security
                  </a>
                </li>
                <li class="nav-item">
                  <a href="" class="nav-link">
                    <i class="feather-power"></i> Sign Out
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div
            class="resize-sensor"
            style="
              position: absolute;
              inset: 0px;
              overflow: hidden;
              z-index: -1;
              visibility: hidden;
            "
          >
            <div
              class="resize-sensor-expand"
              style="
                position: absolute;
                left: 0;
                top: 0;
                right: 0;
                bottom: 0;
                overflow: hidden;
                z-index: -1;
                visibility: hidden;
              "
            >
              <div
                style="
                  position: absolute;
                  left: 0px;
                  top: 0px;
                  transition: all 0s ease 0s;
                  width: 340px;
                  height: 764px;
                "
              ></div>
            </div>
            <div
              class="resize-sensor-shrink"
              style="
                position: absolute;
                left: 0;
                top: 0;
                right: 0;
                bottom: 0;
                overflow: hidden;
                z-index: -1;
                visibility: hidden;
              "
            >
              <div
                style="
                  position: absolute;
                  left: 0;
                  top: 0;
                  transition: 0s;
                  width: 200%;
                  height: 200%;
                "
              ></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-9 col-md-8">
        <div class="settings-widget profile-details">
          <div class="settings-menu p-0">
            <div class="profile-heading">
              <h3>Profile Details</h3>
              <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit.
              </p>
            </div>
            <div class="course-group mb-0 d-flex">
              <div class="course-group-img d-flex align-items-center">
                <a href=""
                  ><img
                    src="/assets/images/user/user11.jpg"
                    alt=""
                    class="img-fluid m-3"
                /></a>
                <div class="course-name">
                  <h4>
                    <a href="">Your avatar</a>
                  </h4>
                  <p>
                    PNG or JPG no bigger than 800px wide and tall.
                  </p>
                </div>
              </div>
              <div
                class="profile-share d-flex align-items-center justify-content-center"
              >
                <a href="" class="btn btn-success">Update</a>
                <a href="" class="btn btn-danger">Delete</a>
              </div>
            </div>
            <div class="checkout-form personal-address add-course-info">
              <div class="personal-info-head">
                <h4>Personal Details</h4>
                <p>
                  Edit your personal information and address.
                </p>
              </div>
              <form method="" action="">
                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label">First Name</label>
                      <input
                        type="text"
                        class="form-control"
                        placeholder="Enter your first Name"
                        name="first_name"
                        required=""
                        value=""
                      />
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label">Last Name</label>
                      <input
                        type="text"
                        class="form-control"
                        placeholder="Enter your last Name"
                        name="last_name"
                        required=""
                        value=""
                      />
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label">Phone</label>
                      <input
                        type="text"
                        class="form-control"
                        placeholder="Enter your Phone"
                        name="mobile_no"
                        required=""
                        value=""
                      />
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label">Email</label>
                      <input
                        type="text"
                        class="form-control"
                        readonly=""
                        placeholder="Enter your Email"
                        name="email"
                        required=""
                        value="abdelrahman@gmial.com"
                      />
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label">Birthday</label>
                      <input
                        class="form-control"
                        type="date"
                        name="birthday"
                        required=""
                        value=""
                      />
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-label m-3">Gender</label>
                      <select
                      class="custom-select mb-3"
                      (change)="changeGender($event)"
                    >
                      <!-- <option value="">Choose City</option> -->
                      <option *ngFor="let gender of Gender" [ngValue]="gender">
                        {{ gender }}
                      </option>
                    </select>
                    <!-- error block -->
                    <div class="invalid-feedback" *ngIf="isSubmitted && genderType?.invalid">
                      <sup>*</sup>Select
                    </div>
                      <!-- <select
                        id="form.gender.id_for_label"
                        class="form-select select country-select select2-hidden-accessible"
                        name="gender"
                        tabindex="-1"
                        aria-hidden="true"
                      >
                        <option value="" data-select2-id="2">Select</option>

                        <option value="Male">Male</option>

                        <option value="Female">Female</option>

                        <option value="Prefer Not To Say"
                          >Prefer Not To Say</option
                        > </select
                      ><span
                        class="select2 select2-container select2-container--default"
                        dir="ltr"
                        data-select2-id="1"
                        style="width: 100%;"
                        ><span class="selection"
                          ><span
                            class="select2-selection select2-selection--single"
                            role="combobox"
                            aria-haspopup="true"
                            aria-expanded="false"
                            tabindex="0"
                            aria-disabled="false"
                            aria-labelledby="select2-formgenderid_for_label-container"
                            ><span
                              class="select2-selection__rendered"
                              role="textbox"
                              aria-readonly="true"
                              title="Select"
                              >Select</span
                            ><span
                              class="select2-selection__arrow"
                              role="presentation"
                              ><b role="presentation"></b></span></span></span
                        ><span
                          class="dropdown-wrapper"
                          aria-hidden="true"
                        ></span
                      ></span> -->
                    </div>
                  </div>

                  <input
                    type="hidden"
                    name="csrfmiddlewaretoken"
                    value="uOs2wtyXJKYfmg4Ix1mNv3YJ9bPcgvDFFZMB9NpFYrRJ39pUKttktpNYf5fXT0Lr"
                  />

                  <div class="update-profile">
                    <button type="submit" class="btn btn-primary">
                      Update Profile
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <!-- Profile Details -->
    </div>
  </div>
</div>
<script src="/assets/plugins/feather/feather.min.js"></script>
