
  <div class="container-fluid py-4 mt-5 footer-div">
    <div class="row">
        <div class="col-3">
            <div class="text-light">
                <h5 class="fw-light">About Us</h5>
                <p class="fw-light">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam omnis
                    recusandae
                    iste labore deleniti sed! Reprehenderit neque fugiat quidem impedit dolorem?</p>
            </div>
        </div>
        <div class="col-2">
            <div class="text-light">
                <h5 class="fw-light">Navigation</h5>
                <ul class="fw-light">
                    <li>Hello</li>
                    <li>Hola</li>
                    <li>Merhaba</li>
                    <li>Welcome</li>
                    <li>Take Care</li>
                    <li>Hello</li>
                    <li>Merhaba</li>
                    <li>Welcome</li>
                </ul>
            </div>
        </div>
        <div class="col-2">
            <div class="text-light">
                <h5 class="fw-light">Usful Links</h5>
                <ul class="fw-light">
                    <li>Hello. Wussup?</li>
                    <li>Hola. coma estas?</li>
                    <li>Merhaba ackim</li>
                    <li>Welcome back to your zone</li>
                    <li>Take Care. ok.</li>
                    <li>Merhaba again</li>
                </ul>
            </div>
        </div>
        <div class="col-2">
            <div class="text-light">
                <h5 class="fw-light">Recent Posts</h5>
                <ul class="fw-light">
                    <li>Home</li>
                    <li>About</li>
                    <li>Features</li>
                    <li>Blog</li>
                    <li>Works</li>
                    <li>Contact</li>
                </ul>
            </div>
        </div>
        <div class="col-3">
            <div class="text-light">
                <h5 class="fw-light">Tags</h5>
                <button class="btn m-1">JS</button>
                <button class="btn m-1">HTML</button>
                <button class="btn m-1">CSS</button>
                <button class="btn m-1">CSS3</button>
                <button class="btn m-1">HTML5</button>
                <button class="btn m-1">TS</button>
                <button class="btn m-1">NodeJS</button>
                <button class="btn m-1">Angular</button>
                <button class="btn m-1">Web</button>
            </div>
        </div>
    </div>
</div>