<section class="footer py-5">
  <div class="container">
      <div class="row">
          <div class="col-lg-3 col-sm-6">
              <div class="single-box">
                  <img src="../../assets/images/education.svg" alt="" width="150px" height="100px">
                  <p class="mt-3">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Libero tempora in neque perspiciatis.</p>
                  <h3> We Accept </h3>
                  <div class="card-area">
                      <i class="bi bi-paypal"></i>
                      <i class="bi bi-credit-card-2-back"></i>
                      <i class="bi bi-credit-card-2-front-fill"></i>
                      <i class="bi bi-credit-card-2-back"></i>
                  </div>
              </div>
          </div>
          <div class="col-lg-3 col-sm-6">
              <div class="single-box">
                  <h2>NEED HELP?</h2>
                  <ul>
                      <li><a href="#">Help Center</a></li>
                      <li><a href="#">Contact us</a></li>
                      <li><a href="#">How to pay on Edu Zone?</a></li>
                      <li><a href="#">How to shop on Edu Zone?</a></li>
                      <li><a href="#">Delivery timelines</a></li>
                      <li><a href="#">Dispute Resolution Policy</a></li>
                      <li><a href="#">Privacy Policy</a></li>
                      <li><a href="#">Return & Refund Policy</a></li>
                  </ul>
              </div>
          </div>
          <div class="col-lg-3 col-sm-6">
              <div class="single-box">
                  <h2>ABOUT Edu Zone</h2>
                  <ul>
                      <li><a href="#">Edu Zone Logistics Services</a></li>
                      <li><a href="#">Edu Zone Careers</a></li>
                      <li><a href="#">Terms and Conditions</a></li>
                      <li><a href="#">Free Learning</a></li>
                      <li><a href="#">Edu Zone Sales</a></li>
                      <li><a href="#">Free Shipping</a></li>
                      <li><a href="#">Join the Edu Zone DA Academy</a></li>
                      <li><a href="#">Edu Zone Anniversary 2023</a></li>
                  </ul>
              </div>
          </div>
          <div class="col-lg-3 col-sm-6">
              <div class="single-box">
                  <h2>NewsLetter</h2>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Libero tempora in neque perspiciatis.</p>
                  <div class="input-group mb-3">
                      <input type="text" class="form-control" placeholder="Enter your Email ..."
                      aria-label="Recipent's username" aria-describedby="basic-addon2">
                      <span class="input-group-text" id="basic-addon2"><i class="bi bi-box-arrow-in-right"></i></span>
                  </div>
                  <h2>Follow us on</h2>
                  <p class="socials">
                      <i class="bi bi-instagram"></i>
                      <i class="bi bi-twitter"></i>
                      <i class="bi bi-facebook"></i>
                      <i class="bi bi-linkedin"></i>
                  </p>
              </div>
          </div>
          </div>
      </div>
</section>
