.box-shadow-5 {
  box-shadow: 0px 1px 5px #0000001c !important;
}

.radius-10 {
  border-radius: 10px !important;
}
.bg-white {
  background-color: #fff !important;
}
.py-4 {
  padding-top: 1.5rem !important;
  padding-bottom: 1.5rem !important;
}
.px-3 {
  padding-right: 1rem !important;
  padding-left: 1rem !important;
}
div,
ul,
li,
a,
button,
td,
span {
  font-family: "Open Sans", sans-serif !important;
}
.btn.red {
  color: #fff;
  background-color: rgb(189, 154, 122);
  border-color: rgb(189, 154, 122);
  padding: 8px 12px;
  font-size: 15px;
  border-radius: 2px;
  line-height: 1.35135;
  font-weight: 600;
}
.marge-input-box button:hover {
  background: rgb(189, 154, 122);
  color: #fff;
}
.marge-input-box button {
  background: rgb(189, 154, 122);
  color: #fff;
  font-weight: 500;
  margin: 5px;
  font-size: 13px;
  border-radius: 8px;
}
.marge-input-box input {
  border-radius: 10px 0px 0px 10px;
  border-right: 0px;
  font-size: 13px;
}
.marge-input-box .input-group-append {
  border: 1px solid #cccfe7;
  border-radius: 0px 10px 10px 0px;
  border-left: none !important;
}
body, div, ul, li, a, button, td, span {
  font-family: 'Open Sans', sans-serif !important;
}

.payment-header-text {
  font-size: 23px;
}

.close-btn-light {
  padding-left: 10px;
  padding-right: 10px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  font-size: 25px;
  background-color: #f1eae9;
  color: #a45e72;
  border-radius: 5px;
}

.close-btn-light:hover {
  padding-left: 10px;
  padding-right: 10px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  font-size: 25px;
  background-color: #a45e72;
  color: #ffffff;
  border-radius: 5px;
}

.payment-header {
  font-size: 14px;
}

.item {
  width: 100%;
  height: 50px;
  display: block;
}

.count-item {
  padding-left: 13px;
  padding-right: 13px;
  padding-top: 5px;
  padding-bottom: 5px;

  margin-bottom: 100%;
  margin-right: 18px;
  margin-top: 8px;

  color: black;
  background-color: rgb(189, 154, 122);
  border-radius: 5px;
  float: left;
}

.item-title {
  font-weight: bold;
  font-size: 13.5px;
  display: block;
  margin-top: 6px;
}

.item-price {
  float: right;
  color: rgb(189, 154, 122);
}

.by-owner {
  font-size: 11px;
  color: #76767e;
  display: block;
  margin-top: -3px;
}

.total {
  border-radius: 8px 0px 0px 8px;
  background-color: rgb(189, 154, 122);
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 18px;
}

.total-price {
  border-radius: 0px 8px 8px 0px;
  background-color: #ccd4dd;
  padding: 10px;
  padding-left: 25px;
  padding-right: 25px;
  font-size: 18px;
}

.indicated-price {
  padding-bottom: 20px;
  margin-bottom: 0px;
}

.payment-button {
  background-color: rgb(189, 154, 122);
  border-radius: 8px;
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
  color: #fff;
  border: none;
  font-size: 18px;
}

.payment-gateway {
  border: 2px solid #d3dcdd;
  border-radius: 5px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 15px;
  cursor: pointer;
  min-height: 68px;
}

.payment-gateway.selected,
.payment-gateway:hover {
  border: 2px solid rgb(189, 154, 122);
  border-radius: 5px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 15px;
  cursor: pointer;
}

.payment-gateway-icon {
  float: right;
  max-width: 70%;
  margin-right: 13px;
  max-height: 40px;
}

.tick-icon {
  margin: 0px;
  padding: 0px;
  width: 15%;
  float: left;
  display: none;
}
.offline_payment_instruction {
  padding: 20px;
  min-height: 100px;
  width: 100%;
  background-color: #e6e9fc;
  margin-top: 40px;
  border-radius: 10px;
}

#zoid-paypal-button {
  font-size: 0;
  width: 100%;
  overflow: hidden;
  min-width: 75px;
}

#zoid-paypal-button.paypal-button-size-responsive {
  text-align: center;
}

#zoid-paypal-button > .zoid-outlet {
  display: inline-block;
  min-width: 75px;
  max-width: 750px;
  position: relative;
}

#zoid-paypal-button.paypal-button-layout-vertical
  > .zoid-outlet {
  min-width: 75px;
}

#zoid-paypal-button > .zoid-outlet {
  width: 350px;
  height: 45px;
}

#zoid-paypal-button.paypal-button-size-responsive
  > .zoid-outlet {
  width: 100%;
}

#zoid-paypal-button > .zoid-outlet > iframe {
  min-width: 100%;
  max-width: 100%;
  width: 75px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

#zoid-paypal-button
  > .zoid-outlet
  > iframe.zoid-component-frame {
  z-index: 100;
}

#zoid-paypal-button
  > .zoid-outlet
  > iframe.zoid-prerender-frame {
  transition: opacity 0.2s linear;
  z-index: 200;
}

#zoid-paypal-button
  > .zoid-outlet
  > iframe.zoid-visible {
  opacity: 1;
}

#zoid-paypal-button
  > .zoid-outlet
  > iframe.zoid-invisible {
  opacity: 0;
  pointer-events: none;
}
