<div class="container-fluid">
  <div class="">
    <div class="row justify-content-center py-3">
      <div class="col-md-8">
        <div class="row">
          <div class="col-md-12">
            <h2 class="payment-header-text float-start">Make Payment</h2>
            <!-- <a class="close-btn-light float-end"
              ><i class="fa fa-times"></i>
            </a> -->
          </div>
        </div>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="row">
          <div class="col-md-3">
            <p class="pb-2 payment-header">Select payment gateway</p>

            <div
              [ngClass]="{'selected' : gatewaySelected == 'stripe'}"
              class="row payment-gateway stripe-selector"
              (click)="selectedPaymentGateway('stripe')"
            >
              <div class="col-12">
                <img
                  [ngClass]="{'selected' : gatewaySelected == 'stripe'}"
                  class="tick-icon stripe-icon"
                  src="https://www.shutterstock.com/image-vector/line-icon-check-600w-569502880.jpg"
                />
                <img
                  class="payment-gateway-icon"
                  src="../../assets/images/stripe.png"
                />
              </div>
            </div>

            <div
              [ngClass]="{'selected' : gatewaySelected == 'paypal'}"
              class="row payment-gateway paypal-selector"
              (click)="selectedPaymentGateway('paypal')"
            >
              <div class="col-12">
                <img
                  [ngClass]="{'selected' : gatewaySelected == 'paypal'}"
                  class="tick-icon paypal-icon"
                  src="https://www.shutterstock.com/image-vector/line-icon-check-600w-569502880.jpg"
                />
                <img
                  class="payment-gateway-icon"
                  src="../../assets/images/paypal.png"
                />
              </div>
            </div>
          </div>

          <div class="col-md-1"></div>

          <div class="col-md-8">
            <div class="w-100 d-grid">
              <p class="pb-2 payment-header">Pay for purchasing course</p>
              <p class="item float-start mb-0 pb-0" *ngFor="let course of courses; let i = index">
                <span class="count-item">{{i + 1}}</span>
                <span class="item-title"
                  >{{course.title}}
                  <span class="item-price"> ${{course.price}} </span>
                </span>
                <span class="by-owner"> {{course.category}} </span>
              </p>
            </div>
            <div class="w-100 float-start mt-4 indicated-price" *ngIf="totalPrice != 0">
              <div class="float-end total-price">${{this.totalPrice | number: '1.0-2'}}</div>
              <div class="float-end total">Total</div>
            </div>
            <div class="w-100 float-start">
              <hr class="border mb-4" />
              <div id="stripePaymentResponse" class="text-danger"></div>
              <!-- Buy button -->
              <button
                *ngIf="gatewaySelected == 'stripe'"
                class="gateway stripe-gateway payment-button float-end mb-3"
                id="stripePayButton"
                (click)="makePayment()">
                Pay with stripe
              </button>
              <div
                *ngIf="gatewaySelected == 'paypal'"
                class="gateway paypal-gateway text-end mt-3"
                id="paypal-button"
              >
                <div
                  id="zoid-paypal-button"
                  class="paypal-button paypal-button-context-iframe paypal-button-label-paypal paypal-button-size-large paypal-button-layout-horizontal"
                  data-paypal-smart-button-version="4.0.338"
                >
                  <div
                    class="zoid-outlet"
                    style="transition: all 0.5s ease-in-out 0.3s;"
                  >
                    <!-- <iframe
                      class="zoid-component-frame zoid-visible"
                      frameborder="0"
                      allowtransparency="true"
                      title="PayPal"
                      scrolling="no"
                      allowpaymentrequest="allowpaymentrequest"
                      src="https://www.paypal.com/smart/button?env=production&amp;style.label=paypal&amp;style.size=large&amp;style.shape=rect&amp;style.color=blue&amp;style.tagline=true&amp;commit=true&amp;"
                      style="background-color: transparent;"
                    ></iframe> -->
                      <ngx-paypal [config]="payPalConfig">
                      </ngx-paypal>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
          <!-- Success message -->
    <div *ngIf="paymentStatus" class="row justify-content-center">
      <div class="col-md-8">
        <div class="alert alert-success mt-4" role="alert">
          Payment successful! Thank you for your purchase.
          Go to Your Profile section to enjoy and learn with Our Courses.
        </div>
      </div>
    </div>
    </div>

  </div>
</div>
