<section class="container py-3">
  <!-- Frist Row For Title -->
<div class="row">
  <div class="title container">
    <h1> Course detail</h1>
    <div class="line my-2"></div>
    <p class="py-3">Welcome! Edu Zone is an easy platform to use when you’re online learning. </p>
  </div>
</div>
  <!-- Second Row For Course Details -->
<div class="row py-3">
<!-- Frist column -->
<div class="container mb-5 col-lg-8 rounded-4 d-flex justify-content-center algin-item-center flex-column">
  <div class="card mb-3">
    <!-- <img src="../../assets/images/reactCourse.jpg" class="card-img-top" alt="..."> -->
  <iframe class="card-img-top" height="500"
    src="https://www.youtube.com/embed/RHsuArdyZUI"
    title="YouTube video player" frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    allowfullscreen>
  </iframe>
    <div class="card-body">
      <h5 class="card-title">React - The Complete Guide 2023 (incl. React Router & Redux)</h5>
      <p class="card-text">Dive in and learn React.js from scratch! Learn React, Hooks, Redux, React Router, Next.js, Best Practices and way more!</p>
      <p class="card-text"><small class="text-body-secondary">This course includes: 50.5 hours on-demand video</small></p>
    </div>
  </div>
</div>
<!-- Second Column -->
<div class="container mb-5 col-lg-4 rounded-4 d-flex justify-content-center algin-item-center flex-column">
<h1> Course content</h1>
<ul class="list-group list-group-flush">
  <button class="list-group-item list-group-item-action" (click)="displayVideo(1)">Welcome To The Course!</button>
  <button class="list-group-item list-group-item-action" (click)="displayVideo(2)">What is React.js?</button>
  <button href="#" class="list-group-item list-group-item-action" (click)="displayVideo(3)">ReactJS vs "Vanilla JavaScript"</button>
  <button href="#" class="list-group-item list-group-item-action" (click)="displayVideo(4)">Why Use React?</button>
  <button href="#" class="list-group-item list-group-item-action" (click)="displayVideo(5)">Editing Our First React App</button>
  <button href="#" class="list-group-item list-group-item-action" (click)="displayVideo(6)">About This Course & Course Outline</button>
  <button href="#" class="list-group-item list-group-item-action" (click)="displayVideo(7)">The Two Ways (Paths) Of Taking This Course</button>
  <button href="#" class="list-group-item list-group-item-action" (click)="displayVideo(8)">Getting The Most Out Of This Course</button>
  <button href="#" class="list-group-item list-group-item-action" (click)="displayVideo(9)">Creating React Projects</button>
  <button href="#" class="list-group-item list-group-item-action" (click)="displayVideo(10)">Browser-based vs Local Development</button>
  <button href="#" class="list-group-item list-group-item-action" (click)="displayVideo(11)">Creating React Projects Locally</button>
  <button href="#" class="list-group-item list-group-item-action" (click)="displayVideo(12)">React Development(No Local Setup Required!) </button>
</ul>
</div>
</div>
</section>

<!-- --------- Comment and review ---------------------->

<section class="container py-5">
<div class="row justify-content-center algin-item-center">
  <!-- Write comment  -->
<div class="col-lg-8">
  <div class="row justify-content-center algin-item-center">
  <div class="group-input ps-5">
    <label class="form-label mb-4">Write a comment</label>
    <input #mycomment class="form-control" type="text" name="comment" id="comment-input">
  </div>
    <div class="review-btn col-6 mx-auto mt-5">
      <button (click)="onclick()" type="button" id="btn" class="btn col-lg-6">Add comment </button>
    </div>
  </div>
  <div class="row py-5">
    <table class="table mt-3">
      <thead>
        <tr>
          <th>Reviews</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let comment of comments">
          <td>{{ comment }}</td>
        </tr>
      </tbody>
    </table>
  </div>

</div>
</div>
</section>
