*{
  color:#28576f;
}

// Title style
.title h2{
  // font-size: 3rem;
  // font-weight: bold;
  color: #bc9a7d;
  font-family: 'Righteous', cursive;
  // letter-spacing: 0.1em;
}

.title p {
  font-size: 15px;
  font-weight: 500;
  color: #bc9a7d;
}

.line {
  height: 6px;
  width: 30%;
  background: #28576f;
  display: inline-block;
}

// Review
input:focus {
  border: 1px solid 2px #bc9a7d;
  box-shadow: none;
  border-color: #bc9a7d;
  box-shadow: -1px 1px 20px -11px #faba99;
}

.form-check-input:checked {
  background-color: #bc9a7d;
  border-color: #bc9a7d;
}

.review-btn button {
  display: inline-block;
  padding: 8px 10px;
  border: 1px solid rgb(41, 87, 112);
  border-radius: 4px;
  transition: all 0.2s ease-in;
  position: relative;
  overflow: hidden;
  font-size: 15px;
  color: rgb(41, 87, 112);
  z-index: 1;
}

.review-btn button:before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%) scaleY(1) scaleX(1.25);
  top: 100%;
  width: 140%;
  height: 180%;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.review-btn button:after {
  content: "";
  position: absolute;
  left: 55%;
  transform: translateX(-50%) scaleY(1) scaleX(1.45);
  top: 180%;
  width: 160%;
  height: 190%;
  background-color: rgb(189, 154, 122);
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.review-btn button:hover {
  color: #ffffff;
  border: 1px solid rgb(189, 154, 122);
}

.review-btn button:hover:before {
  top: -35%;
  background-color: rgb(189, 154, 122);
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.review-btn button:hover:after {
  top: -45%;
  background-color: rgb(189, 154, 122);
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

th,
td {
  border-color: rgb(189, 154, 122);
  border-width: .5px;
}

table,
th,
td {
  color: #28576f;
}

ul li {
  cursor: pointer;
}


.warning {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  width: 320px;
  padding: 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  background: #F7C752;
  border-radius: 8px;
  box-shadow: 0px 0px 5px -3px #111;
}

.warning__icon {
  width: 20px;
  height: 20px;
  transform: translateY(-2px);
  margin-right: 8px;
}

.warning__icon path {
  fill: #393A37;
}

.warning__title {
  font-weight: 500;
  font-size: 14px;
  color: #393A37;
}

.warning__close path {
  fill: #393A37;
}

table tr, td, th {
  border: none;
}
// @import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");
// @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;900&display=swap");

.btn-primary {
  background-color: rgb(41, 87, 112);
  border: 1px solid rgb(41, 87, 112);
  color: white;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.active,
.btn-primary:active,
.open > .dropdown-toggle.btn-primary {
  background-color: rgb(189, 154, 122);
  border: 1px solid rgb(189, 154, 122);
}
.btn-primary.active.focus,
.btn-primary.active:focus,
.btn-primary.active:hover,
.btn-primary.focus:active,
.btn-primary:active:focus,
.btn-primary:active:hover,
.open > .dropdown-toggle.btn-primary.focus,
.open > .dropdown-toggle.btn-primary:focus,
.open > .dropdown-toggle.btn-primary:hover {
  background-color: rgb(189, 154, 122);
  border: 1px solid rgb(189, 154, 122);
}
.btn-primary.active:not(:disabled):not(.disabled),
.btn-primary:active:not(:disabled):not(.disabled),
.show > .btn-primary.dropdown-toggle {
  background-color: rgb(189, 154, 122);
  border-color: rgb(189, 154, 122);
  color: #fff;
}
.btn-primary.active:focus:not(:disabled):not(.disabled),
.btn-primary:active:focus:not(:disabled):not(.disabled),
.show > .btn-primary.dropdown-toggle:focus {
  box-shadow: unset;
}
.btn-secondary {
  color: #fff;
  background: rgb(41, 87, 112);
  border: 1px solid rgb(41, 87, 112);
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.active,
.btn-secondary:active,
.open > .dropdown-toggle.btn-secondary {
  background-color: rgb(189, 154, 122);
  border: 1px solid rgb(189, 154, 122);
}

a {
  color: #22100d;
  text-decoration: none;
}
input,
button,
a {
  transition: all 0.4s ease;
}
.form-control {
  border-color: #dce0eb;
  color: #26292c;
  font-size: 15px;
  min-height: 42px;
  padding: 6px 15px;
}
.form-control::placeholder {
  color: #6e82a3;
  font-size: 14px;
}
.rating i {
  color: #777777;
}

.rating i.filled {
  color: #FFB800;
}

.fa-star:before {
  content: "\f005";
}
