// Title style
.title h1{
  font-size: 3rem;
  font-weight: bold;
  color: #bc9a7d;
}
.title p{
  font-size: 15px;
  font-weight: 500;
  color: #bc9a7d;
}
.line{
  height: 6px;
  width: 30%;
  background: #28576f;
  display: inline-block;
}
// Card course styles
.star i {
  text-align: end;
  color: orange;
}

// Review
.comment-label {
  position: absolute;
  left: 60px;
  color: #e8e8e8;
  pointer-events: none;
  transform: translateY(0.5rem);
  transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

#comment-input {
  border: rgb(189, 154, 122) 1px solid;
  border-radius: 8px;
  width: 70%;
  height: 45px;
}

#comment-input:focus,
input:valid {
  outline: none;
  border: 1.5px solid #29576f;
}

#comment-input:focus~label,
input:valid~label {
  transform: translateY(-50%) scale(0.8);
  background-color: #ffffff;
  padding: 0 .2em;
  color: rgb(41, 87, 112);
}

#comment-btn {
  display: inline-block;
  padding: 8px 10px;
  border: 1px solid rgb(41, 87, 112);
  border-radius: 4px;
  transition: all 0.2s ease-in;
  position: relative;
  overflow: hidden;
  font-size: 15px;
  color: rgb(41, 87, 112);
  z-index: 1;
}

#comment-btn:before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%) scaleY(1) scaleX(1.25);
  top: 100%;
  width: 140%;
  height: 180%;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

#comment-btn:after {
  content: "";
  position: absolute;
  left: 55%;
  transform: translateX(-50%) scaleY(1) scaleX(1.45);
  top: 180%;
  width: 160%;
  height: 190%;
  background-color: rgb(189, 154, 122);
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

#comment-btn:hover {
  color: #ffffff;
  border: 1px solid rgb(189, 154, 122);
}

#comment-btn:hover:before {
  top: -35%;
  background-color: rgb(189, 154, 122);
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

#comment-btn:hover:after {
  top: -45%;
  background-color: rgb(189, 154, 122);
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}
