<h2>Add Course</h2>

<form (ngSubmit)="addCourse()" #courseForm="ngForm">
  <div class="mb-3">
    <label for="title" class="form-label">Title:</label>
    <input type="text" id="title" name="title" class="form-control" [(ngModel)]="course.title" required>
  </div>

  <div class="mb-3">
    <label for="description" class="form-label">Description:</label>
    <textarea id="description" name="description" class="form-control" [(ngModel)]="course.description" required></textarea>
  </div>

  <div class="mb-3">
    <label for="category" class="form-label">Category:</label>
    <input type="text" id="category" name="category" class="form-control" [(ngModel)]="course.category" required>
  </div>

  <div class="mb-3">
    <label for="price" class="form-label">Price:</label>
    <input type="number" id="price" name="price" class="form-control" [(ngModel)]="course.price" required>
  </div>
  <div class="mb-3">
    <label for="image" class="form-label">Course Image:</label>
    <input type="file" id="image" name="image" class="form-control" (change)="handleImageUpload($event)" accept="image/*" required>
  </div>

  <h3>Videos</h3>

  <div *ngFor="let video of videos; let i = index" [attr.data-index]="i" class="video-field">
    <div class="row mb-3">
      <div class="col">
        <label for="videoTitle{{ i }}" class="form-label">Title:</label>
        <input type="text" id="videoTitle{{ i }}" name="videoTitle{{ i }}" class="form-control" [(ngModel)]="video.title" required>
      </div>
      <div class="col">
        <label for="videoUrl{{ i }}" class="form-label">URL:</label>
        <input type="text" id="videoUrl{{ i }}" name="videoUrl{{ i }}" class="form-control" [(ngModel)]="video.url" required>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <button type="button" class="btn btn-danger btn-sm" (click)="removeVideo(i)">Remove</button>
      </div>
    </div>
  </div>

  <div class="buttons-container">

  <button type="button" class="btn btn-primary" (click)="addVideo()">Add Video</button>

  <button type="submit" class="btn btn-success" [disabled]="!courseForm.valid">Add Course</button>

</div>
</form>
