<h2>Add Course</h2>

<form (ngSubmit)="addCourse()" #courseForm="ngForm">
  <div class="mb-3">
    <label for="title" class="form-label">Title:</label>
    <input type="text" id="title" name="title" class="form-control" [(ngModel)]="course.title" required>
  </div>

  <div class="mb-3">
    <label for="description" class="form-label">Description:</label>
    <textarea id="description" name="description" class="form-control" [(ngModel)]="course.description"
      required></textarea>
  </div>

  <div class="mb-3">
    <label for="category" class="form-label">Category:</label>
    <input type="text" id="category" name="category" class="form-control" [(ngModel)]="course.category" required>
  </div>

  <div class="mb-3">
    <label for="price" class="form-label">Price:</label>
    <input type="number" id="price" name="price" class="form-control" [(ngModel)]="course.price" required>
  </div>
  <div class="mb-3">
    <label for="image" class="form-label">Course Image:</label>
    <input type="file" id="image" name="image" class="form-control" (change)="handleImageUpload($event)"
      accept="image/*" required>
  </div>

  <h3>Videos</h3>

  <div *ngFor="let video of videos; let i = index" [attr.data-index]="i" class="video-field">
    <div class="row mb-3">
      <div class="col">
        <label for="videoTitle{{ i }}" class="form-label">Title:</label>
        <input type="text" id="videoTitle{{ i }}" name="videoTitle{{ i }}" class="form-control"
          [(ngModel)]="video.title" required>
      </div>
      <div class="col">
        <label for="videoUrl{{ i }}" class="form-label">URL:</label>
        <input type="text" id="videoUrl{{ i }}" name="videoUrl{{ i }}" class="form-control" [(ngModel)]="video.url"
          required>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <button type="button" class="btn btn-danger btn-sm" (click)="removeVideo(i)">Remove</button>
      </div>
    </div>
  </div>

  <div class="buttons-container">

    <button type="button" class="btn btn-primary" (click)="addVideo()">Add Video</button>

    <button type="submit" class="btn btn-success" [disabled]="!courseForm.valid">Add Course</button>

  </div>
</form>
<div class="container">
  <div class="row pt-3" *ngIf="courseAdded">
    <div class="col-12">
      <div class="success w-100">
        <div class="success__icon">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" viewBox="0 0 24 24" height="24" fill="none">
            <path fill-rule="evenodd" fill="#393a37"
              d="m12 1c-6.075 0-11 4.925-11 11s4.925 11 11 11 11-4.925 11-11-4.925-11-11-11zm4.768 9.14c.0878-.1004.1546-.21726.1966-.34383.0419-.12657.0581-.26026.0477-.39319-.0105-.13293-.0475-.26242-.1087-.38085-.0613-.11844-.1456-.22342-.2481-.30879-.1024-.08536-.2209-.14938-.3484-.18828s-.2616-.0519-.3942-.03823c-.1327.01366-.2612.05372-.3782.1178-.1169.06409-.2198.15091-.3027.25537l-4.3 5.159-2.225-2.226c-.1886-.1822-.4412-.283-.7034-.2807s-.51301.1075-.69842.2929-.29058.4362-.29285.6984c-.00228.2622.09851.5148.28067.7034l3 3c.0983.0982.2159.1748.3454.2251.1295.0502.2681.0729.4069.0665.1387-.0063.2747-.0414.3991-.1032.1244-.0617.2347-.1487.3236-.2554z"
              clip-rule="evenodd"></path>
          </svg>
        </div>
        <div class="success__title">Successfully added course</div>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="errorMessage">
    <div class="col-12">
      <div class="warning">
        <div class="warning__icon">
          <svg fill="none" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
            <path d="m13 14h-2v-5h2zm0 4h-2v-2h2zm-12 3h22l-11-19z" fill="#393a37"></path>
          </svg>
        </div>
        <div class="warning__title">Failed logging in</div>
      </div>
    </div>
  </div>
</div>