.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30%;
  min-height: 50vh;
}

.card {
  width: 90%;
  max-width: 400px;
}

.card-body {
  padding: 2em;
}

.card-title {
  font-size: 1.5em;
  margin-bottom: 1em;
}

.card-text {
  font-size: 1em;
}

.btn-primary {
  margin-top: 1em;
}
