<section class="container">
  <!-- Frist Row For Title -->
<div class="row">
  <div class="sign-title container">
    <h1> Register Form</h1>
    <div class="line my-2"></div>
    <p class="py-3">Welcome! Edu Zone is an easy platform to use when you’re online learning. </p>
  </div>
</div>
  <!-- Second Row For Form -->
<div class="row py-5">
<!-- column 01 -->
  <div class="container col-lg-3 box-one d-flex justify-content-center flex-column">
    <div class="user-img">
      <img src="../../assets/images/user-profile/bt1.png" alt="" id="photo">
      <input type="file" name="filephoto" id="file">
      <label for="file" id="uploadbtn"> <i class="bi bi-camera"></i> </label>
    </div>
    <div class="input-group mb-3">
      <input type="text" class="form-control form-control-lg bg-light fs-6" placeholder="Frist name">
    </div>
    <div class="input-group mb-3">
      <input type="text" class="form-control form-control-lg bg-light fs-6" placeholder="Last name">
    </div>
    <div class="input-group mb-3">
      <input type="text" class="form-control form-control-lg bg-light fs-6" placeholder="Full name">
    </div>
  </div>
<!-- column 02 -->
  <div class="container col-lg-3 box-two d-flex justify-content-center flex-column">
    <div class="row algin-item-center">
      <div class="input-group mb-3">
        <label for="" class="form-check-label d-flex d-lg-block">Date of birth</label><br>
        <input type="date" class="form-control form-control-lg bg-light fs-6" id="birthDate" placeholder="Date of birth">
      </div>
      <div class="input-group mb-3">
        <input type="email" class="form-control form-control-lg bg-light fs-6" placeholder="Email address">
      </div>
      <div class="input-group mb-3">
        <input type="password" class="form-control form-control-lg bg-light fs-6" placeholder="Password">
      </div>
      <div class="input-group mb-3">
        <input type="confirmPassword" class="form-control form-control-lg bg-light fs-6" placeholder="Confirm password">
      </div>
      <div class="input-group mb-3">
        <select class="form-select" aria-label="Default select example">
          <option selected>Select your country</option>
          <option value="1">Egypt</option>
          <option value="2">Egypt</option>
          <option value="3">Egypt</option>
        </select>
      </div>
  </div>
</div>
<!-- column 03 -->
  <div class="container col-lg-3 box-three d-flex justify-content-center flex-column">
    <div class="input-group mb-3">
      <input type="text" class="form-control form-control-lg bg-light fs-6" placeholder="University">
    </div>
    <div class="input-group mb-3">
      <input type="text" class="form-control form-control-lg bg-light fs-6" placeholder="Faculty">
    </div>
    <div class="input-group mb-3">
      <input type="text" class="form-control form-control-lg bg-light fs-6" placeholder="Department">
    </div>
    <div class="input-group mb-3">
      <input type="text" class="form-control form-control-lg bg-light fs-6" placeholder="Address">
    </div>
  </div>

</div>
</section>
