.sign-title h1{
  font-size: 3rem;
  font-weight: bold;
  color: #bc9a7d;
}
.sign-title p{
  font-size: 15px;
  font-weight: 500;
  color: #bc9a7d;
}
.line{
  height: 6px;
  width: 30%;
  background: #28576f;
  display: inline-block;
}
input, button, select, textarea{
  box-shadow: none;
  border-color: #bc9a7d;
}
::placeholder {
  color: #bc9a7d;
  opacity: 1;
}
input:focus,
button:focus,
select:focus
textarea:focus{
  border: 1px solid 2px #28576f;
  box-shadow: none;
  border-color: #28576f;
  box-shadow: -1px 1px 20px -11px #28576f;
}
.form-select-color{
  color: #bc9a7d;
}
.form-select option:hover,
.form-select option:focus
.form-select option:checked{
  background-color: #8ba6b2;
}
.user-img{
  width: 130px;
  height: 130px;
  border-radius: 50%;
  position: relative;
  justify-content: center;
  align-items: center;
  margin: 15% 5%;

}
#photo{
  width: 130px;
  height: 130px;
  border-radius: 50%;

}
#file{
  display: none;
}
#uploadbtn{
  position: absolute;
  height: 35px;
  width: 35px;
  padding: 5px 9px;
  border-radius: 50%;
  cursor: pointer;
  color: #28576f;
  background-color: white;
  border: 1px solid #28576f;
  transform: translateX(-200%);
  margin-top: 100px;
  box-shadow: 2px 4px 4p #bc9a7d;
}
// search
#myInput {
  background-image: url('/css/searchicon.png'); /* Add a search icon to input */
  background-position: 10px 12px; /* Position the search icon */
  background-repeat: no-repeat; /* Do not repeat the icon image */
  width: 100%; /* Full-width */
  font-size: 16px; /* Increase font-size */
  padding: 12px 20px 12px 40px; /* Add some padding */
  border: 1px solid #ddd; /* Add a grey border */
  margin-bottom: 12px; /* Add some space below the input */
}

#myUL {
  /* Remove default list styling */
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#myUL li a {
  border: 1px solid #ddd; /* Add a border to all links */
  margin-top: -1px; /* Prevent double borders */
  background-color: #f6f6f6; /* Grey background color */
  padding: 12px; /* Add some padding */
  text-decoration: none; /* Remove default text underline */
  font-size: 18px; /* Increase the font-size */
  color: black; /* Add a black text color */
  display: block; /* Make it into a block element to fill the whole list */
}

#myUL li a:hover:not(.header) {
  background-color: #eee; /* Add a hover effect to all links, except for headers */
}
label{color: #28576f;}
.submit-btn button{
  background-color: #28576f;
  color: #def0f1;

}
#exampleFormControlTextarea1:focus{
  border: 1px solid 2px #28576f;
  box-shadow: none;
  border-color: #28576f;
  box-shadow: -1px 1px 20px -11px #28576f;
}
#date-bth{
  color: #bc9a7d;
}
// select
.custom-select {
  height: auto;
  padding: 8px;
  font-size: 15px;
  cursor: pointer;
  font-weight: 400;
  color: rgb(189, 154, 122);
  background-color: white;
  border: 1px solid #bc9a7d;
}
.custom-select:focus,
.custom-select:focus {
  box-shadow: none;
}
.custom-select:focus {
  border: 1px solid 2px #28576f;
  box-shadow: none;
  border-color: #28576f;
  box-shadow: -1px 1px 20px -11px #28576f;
}

.success {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  width: 320px;
  padding: 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  background: #84D65A;
  border-radius: 8px;
  box-shadow: 0px 0px 5px -3px #111;
}

.success__icon {
  width: 20px;
  height: 20px;
  transform: translateY(-2px);
  margin-right: 8px;
}

.success__icon path {
  fill: #393A37;
}

.success__title {
  font-weight: 500;
  font-size: 14px;
  color: #393A37;
}

.success__close path {
  fill: #393A37;
}


.warning {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  width: 320px;
  padding: 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  background: #F7C752;
  border-radius: 8px;
  box-shadow: 0px 0px 5px -3px #111;
}

.warning__icon {
  width: 20px;
  height: 20px;
  transform: translateY(-2px);
  margin-right: 8px;
}

.warning__icon path {
  fill: #393A37;
}

.warning__title {
  font-weight: 500;
  font-size: 14px;
  color: #393A37;
}

.warning__close path {
  fill: #393A37;
}