<section
  class="cart-list-area tether-target-attached-top tether-element-attached-top tether-element-attached-center tether-target-attached-center"
>
  <div class="container">
    <div class="row" id="cart_items_details">
      <div class="col-lg-9">
        <div class="in-cart-box" *ngIf="courses">
          <div class="title">{{courses.length}} Courses in cart</div>
          <div class="">
            <ul class="cart-course-list" *ngFor="let course of courses">
              <li class="">
                <div class="cart-course-wrapper box-shadow-5">
                  <div class="image d-none d-md-block">
                    <a href="" class="">
                      <img src="{{course.image}}" alt="" class="img-fluid" />
                    </a>
                  </div>
                  <div class="details">
                    <a href="" class="">
                      <div class="name">
                        {{course.title}}
                      </div>
                    </a>

                    <div class="course-subtitle text-13px mt-2">
                      {{course.category}}
                    </div>
                  </div>
                  <div class="move-remove text-center">
                    <div id="28" onclick="removeFromCartList(course._id)" class="">
                      <i class="fas fa-times-circle"></i> Remove
                    </div>
                    <!-- <div>Move to Wishlist</div> -->
                  </div>
                  <div class="price">
                    <div class="current-price">
                      {{course.price}}
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-3 pt-1">
        <h5 class="fw-700">Total:</h5>
        <div class="cart-sidebar bg-white radius-10 py-4 px-3 box-shadow-5">
          <!-- including Tax or vat -->

          <span id="total_price_of_checking_out" hidden="" class="">359 </span>
          <div class="total-price">$359</div>
          <div class="total-original-price">
            <span class="original-price"> </span>
            <!-- <span class="discount-rate">95% off</span> -->
          </div>

          <!-- including Tax or vat -->

          <!-- including Tax or vat -->

          <div class="input-group marge-input-box mb-3">
            <input
              type="text"
              class="form-control"
              placeholder="Apply coupon code"
              id="coupon-code"
            />
            <div class="input-group-append">
              <button class="btn" type="button" onclick="applyCoupon()">
                <i class="fas fa-spinner fa-pulse hidden" id="spinner"></i>
                Apply
              </button>
            </div>
          </div>
          <button
            type="button"
            class="btn red w-100 radius-10 mb-3"
            routerLink="/checkout"
          >
            Checkout
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
