.box-shadow-5 {
  box-shadow: 0px 1px 5px #0000001c !important;
}

.radius-10 {
  border-radius: 10px !important;
}
.bg-white {
  background-color: #fff !important;
}
.py-4 {
  padding-top: 1.5rem !important;
  padding-bottom: 1.5rem !important;
}
.px-3 {
  padding-right: 1rem !important;
  padding-left: 1rem !important;
}
div,
ul,
li,
a,
button,
td,
span {
  font-family: "Open Sans", sans-serif !important;
}
.btn.red {
  color: #fff;
  background-color: rgb(189, 154, 122);
  border-color: rgb(189, 154, 122);
  padding: 8px 12px;
  font-size: 15px;
  border-radius: 2px;
  line-height: 1.35135;
  font-weight: 600;
}
.marge-input-box button:hover {
  background: rgb(189, 154, 122);
  color: #fff;
}
.marge-input-box button {
  background: rgb(189, 154, 122);
  color: #fff;
  font-weight: 500;
  margin: 5px;
  font-size: 13px;
  border-radius: 8px;
}
.marge-input-box input {
  border-radius: 10px 0px 0px 10px;
  border-right: 0px;
  font-size: 13px;
}
.marge-input-box .input-group-append {
  border: 1px solid #cccfe7;
  border-radius: 0px 10px 10px 0px;
  border-left: none !important;
}
body,
div,
ul,
li,
a,
button,
td,
span {
  font-family: "Open Sans", sans-serif !important;
}

section.cart-list-area {
  margin-top: 50px;
  margin-bottom: 70px;
}
.in-cart-box > .title,
.wishlisted-box > .title {
  font-size: 18px;
  margin-bottom: 10px;
  color: #29303b;
  font-weight: 700;
}
.in-cart-box .cart-course-list,
.wishlisted-box .cart-course-list {
  padding: 0;
  margin: 0;
  list-style: none;
  margin-bottom: 40px;
}
.cart-course-list li {
  margin-bottom: 25px;
}
.in-cart-box .cart-course-list li:not(:first-child),
.wishlisted-box .cart-course-list li:not(:first-child) {
  border-top: 1px solid #f1f1f1;
}
.cart-course-wrapper {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  border-radius: 10px;
}
.cart-course-wrapper .image {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 17%;
  flex: 0 0 17%;
  max-width: 17%;
}
.cart-course-wrapper .image img {
  border-radius: 10px;
}
.cart-course-wrapper .details {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 53%;
  flex: 0 0 53%;
  max-width: 53%;
  padding-left: 10px;
}
.cart-course-wrapper .details .name {
  display: block !important;
  display: -webkit-box !important;
  -webkit-line-clamp: 2;
  -moz-line-clamp: 2;
  -ms-line-clamp: 2;
  -o-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -ms-box-orient: vertical;
  -o-box-orient: vertical;
  box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  margin-bottom: 0;
  max-height: 37px;
  color: #5a5d60;
  line-height: 1.2;
  font-weight: 700;
  font-size: 15px;
}
.cart-course-wrapper .details .instructor {
  display: block !important;
  display: -webkit-box !important;
  -webkit-line-clamp: 2;
  -moz-line-clamp: 2;
  -ms-line-clamp: 2;
  -o-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -ms-box-orient: vertical;
  -o-box-orient: vertical;
  box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  max-height: 36px;
  font-size: 13px;
  color: #686f7a;
}
.cart-course-wrapper .move-remove {
  text-align: right;
  padding-left: 10px;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 15%;
  flex: 0 0 15%;
  max-width: 15%;
}
.cart-course-wrapper .price {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 15%;
  flex: 0 0 15%;
  max-width: 15%;
  text-align: right;
  padding-right: 25px;
  position: relative;
}
.cart-course-wrapper .move-remove div {
  color: #5a5d60;
  cursor: pointer;
  font-size: 13px;
  margin-bottom: 3px;
}
.cart-course-wrapper .move-remove div:hover {
  color: #000000;
}
.cart-course-wrapper .price .current-price {
  color: #5a5a5a;
  font-weight: 900;
}
.cart-course-wrapper .price .original-price {
  text-decoration: line-through;
  color: #686f7a;
}

.cart-sidebar .total-price {
  font-size: 30px;
  line-height: 49px;
  color: rgb(189, 154, 122);
  font-weight: 600;
}
.cart-sidebar .total-original-price {
  color: #686f7a;
  margin-bottom: 12px;
}
.cart-sidebar .total-original-price .original-price {
  text-decoration: line-through;
  margin-right: 10px;
}
.cart-sidebar .checkout-btn {
  font-size: 15px;
  line-height: 1.35135;
  border-radius: 2px;
  color: #fff;
  background-color: rgb(189, 154, 122);
  border-color: rgb(189, 154, 122);
  font-weight: 600;
  padding: 16px 12px;
}
.cart-sidebar .checkout-btn:hover,
.cart-sidebar .checkout-btn:focus {
  background-color: #c33333 !important;
  border-color: #c33333 !important;
}
.cart-sidebar .coupon-field input {
  padding: 14px 12px;
  font-size: 12px;
  border-radius: 2px;
}
.cart-sidebar .coupon-field input:focus {
  border-color: #76c5d6;
}
.cart-sidebar .coupon-field button {
  border-radius: 2px;
  background-color: #007791;
  border-color: #007791;
  color: #fff;
  font-weight: 600;
  font-size: 15px;
}
.cart-sidebar .coupon-field button:hover,
.cart-sidebar .coupon-field button:focus {
  background-color: #00576b !important;
  border-color: #00576b !important;
}
.cart-sidebar .coupon-list ul {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 15px;
}
.cart-sidebar .coupon-list ul li {
  font-size: 13px;
  cursor: pointer;
  color: #686f7a;
}
.cart-sidebar .coupon-list ul li:hover {
  color: rgb(189, 154, 122);
}
.cart-sidebar .coupon-list ul li i {
  font-size: 11px;
}
.form-control:focus {
  border-color: rgb(189, 154, 122);
  box-shadow: none;
}
