<div class="container d-flex min-vh-100 py-5">
  <div class="row borrder rounded-5 p-5 bg-white shadow box-area justify-content-center algin-item-center">
    <!-- Left Section  -->
    <div class="container left-box mb-5 col-lg-5 rounded-4 d-flex justify-content-center algin-item-center flex-column" style="background:#28576f;">
      <div class="featured-image">
        <img class="img-fluid py-3" src="../../assets/images/log.svg" alt="background"/>
      </div>
      <p class=" fs-2">Be touched </p>
      <p class="">Join to learn on Edu Zone</p>
    </div>
    <!-- Right Section -->
    <div class="container col-lg-6 right-box d-flex justify-content-center flex-column">
      <div class="row algin-item-center">
        <div class="header-text mb-4">
          <h1> Hello, Again 🥰</h1>
          <h5> We are happy to have you back.</h5>
          <div class="input-group mb-3 form-field">
            <input type="email" class="form-control form-control-lg bg-light fs-6 form-text" placeholder="Email address">
          </div>
          <div class="input-group mb-1  form-field">
            <input type="password" class="form-control form-control-lg bg-light fs-6 form-text" placeholder="Password">
          </div>
          <div class="input-group mb-5 d-flex justify-content-between">
            <div class="form-check">
              <input type="checkbox" id="formCheck" class="form-check-input">
              <label for="formCheck" class="form-check-label text-secondary">Remember me</label>
            </div>
            <div class="forget">
              <small><a href="#"> Forget Password?</a></small>
            </div>
          </div>
          <div class="input-group mb-3">
            <button class="btn btn-lg w-100 fs-6">Login</button>
          </div>
          <div class="row">
            <small>Don't have an account <a href="#">Sign up</a></small>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
