<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
</head>
<body>
<div class="container d-flex justify-content-center algin-item-center min-vh-100">
  <div class="row borrder rounded-5 p-3 bg-white shadow box-area">
    <!-- Left Section  -->
    <!-- move -->
    <div class="left-box col-lg-6 rounded-4 d-flex justify-content-center algin-item-center flex-column" style="background:#bc9a7d;">
      <div class="featured-image">
        <img class="img-fluid py-3" src="../../assets/images/personal_file.svg" alt="background"/>
      </div>
      <p class="text-white fs-2">Be touched </p>
      <small class="text-white text-wrap text-center">Join to learn on Edu Zone platform</small>
    </div>
    <!-- Right Section -->
    <div class="col-lg-6 right-box">
      <div class="row algin-item-center">
        <div class="header-text mb-4">
          <p> Hello, Again</p>
          <p> We are happy to have you back.</p>
          <div class="input-group mb-3">
            <input type="email" class="form-control form-control-lg bg-light fs-6" placeholder="Email address">
          </div>
          <div class="input-group mb-1">
            <input type="password" class="form-control form-control-lg bg-light fs-6" placeholder="Password">
          </div>
          <div class="input-group mb-5 d-flex justify-content-between">
            <div class="form-check">
              <input type="checkbox" id="formCheck" class="form-check-input">
              <label for="formCheck" class="form-check-label text-secondary">Remember me</label>
            </div>
            <div class="forget">
              <small><a href="#"> Forget Password?</a></small>
            </div>
          </div>
          <div class="input-group mb-3">
            <button class="btn btn-lg btn-primary w-100 fs-6">Login</button>
          </div>
          <div class="row">
            <small>Don't have an account <a href="#">Sign up</a></small>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>
