<div style="background-color: #fafafa;" class="container mb-5">
    <div class="row">
        <div class="col text-center">
            <h1 style="color: rgb(40, 86, 110)">
                Best-Selling Courses
            </h1>
            <h6 style="color: rgb(189, 154, 122)">our hosting plans in detail. choose the right plan for you</h6>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-sm-6 col-md-6 col-lg-3 mb-3">
            <div class="card">
                <div class="card-header">Bootstrap</div>
                <div class="card-body">Content
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Libero sed accusantium minima,
                    molestias
                    quibusdam rerum quas.
                </div>
                <div class="card-footer"><button class="btn view-btn" type="submit">View Details</button></div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-6 col-lg-3 mb-3">
            <div class="card">
                <div class="card-header">HTML</div>
                <div class="card-body">Content
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Libero sed accusantium minima,
                    molestias
                    quibusdam rerum quas.
                </div>
                <div class="card-footer"><button class="btn view-btn" type="submit">View Details</button></div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-6 col-lg-3 mb-3">
            <div class="card">
                <div class="card-header">Angular</div>
                <div class="card-body">Content
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Libero sed accusantium minima,
                    molestias
                    quibusdam rerum quas.
                </div>
                <div class="card-footer"><button class="btn view-btn" type="submit">View Details</button></div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-6 col-lg-3 mb-3">
            <div class="card">
                <div class="card-header">JavaScript</div>
                <div class="card-body">Content
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Libero sed accusantium minima,
                    molestias
                    quibusdam rerum quas.
                </div>
                <div class="card-footer"><button class="btn view-btn" type="submit">View Details</button></div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid p-5">
    <div class="row mb-2">
        <div class="col text-center">
            <h1>Categories :</h1>
            <h6>you can find here a major of different categories</h6>
        </div>
    </div>
    <div class="row mb-2">
        <div id="cat-btns" class="col text-center py-3">
            <button class="btn cat-btn">cat #1</button>
            <button class="btn cat-btn">cat #2</button>
            <button class="btn cat-btn">cat #3</button>
            <button class="btn cat-btn">cat #4</button>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-12 col-md-4 mb-3">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Web Hosting</h4>
                    <p class="card-text">Info about category</p>
                    <a href="#" class="btn view-btn">View Courses</a>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4 mb-3">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Full-Stack</h4>
                    <p class="card-text">Info about category</p>
                    <a href="#" class="btn view-btn">View Courses</a>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Time Management</h4>
                    <p class="card-text">Info about category</p>
                    <a href="#" class="btn view-btn">View Courses</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-12 col-md-4 mb-3">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Software Testing</h4>
                    <p class="card-text">Info about category</p>
                    <a href="#" class="btn view-btn">View Courses</a>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4 mb-3">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Teaching</h4>
                    <p class="card-text">Info about category</p>
                    <a href="#" class="btn view-btn">View Courses</a>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Soft Skills</h4>
                    <p class="card-text">Info about category</p>
                    <a href="#" class="btn view-btn">View Courses</a>
                </div>
            </div>
        </div>
    </div>
</div>