<div class="container py-5">
    <div class="row justify-content-between">

        <div class="col-md-6 d-flex align-items-center me-auto mb-3">
            <div class="card align-text-center">
                <div class="card-body ">
                    <h1 style="color: rgb(40, 86, 110)">
                        Welcome to EduZone
                        <!-- <h5 class="card-title">Welcome to EduZone</h5>
                        <p class="card-text">where you can learn and enjoy<br> learning more than ever !</p> -->
                    </h1>
                    <h5 style="color: rgb(189, 154, 122); line-height: 1.3">where endless possibilities await you.
                        Explore our diverse range of courses, designed to empower you with knowledge
                        and skills that will shape your future.
                        <br>
                        <strong>Join us today and embark on an educational adventure like no other!</strong>
                    </h5>
                </div>
            </div>
        </div>

        <div class="col-md-6 d-flex ms-auto">
            <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner imgs-div">
                    <div class="carousel-item active ">
                        <img src="/assets/images/labtop-on-a-table.jpg" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item ">
                        <img src="/assets/images/labtop-with-a-girl-and-a-boy.jpg" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item ">
                        <img src="/assets/images/studying-on-a-table.jpg" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item ">
                        <img src="/assets/images/student-girl.jpg" class="d-block w-100" alt="...">
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>