.carousel-inner {
    // width: 100%;
    border-radius: 50% 0 50% 0;
    margin: 0 25px 0 0;
}

.card {
    width: 100%;
    color: rgb(41, 86, 111);
    font-family: 'Poppins', sans-serif;
    border: none;
    text-align: center;
}

.card-body h2{
    font-family: 'Righteous', cursive
}