<!-- <header>
  <a href="#" class="logo">
    <img src="/assets/images/logo.png" alt="Logo" width="40" height="40" class="d-inline-block">
  </a>
  <a href="#" class="logo">
    EduZone
  </a>
  <div class="group">
    <ul class="navigation">
      <li>
        <a href="#">
          Home
        </a>
      </li>
      <li>
        <a href="#">
          About
        </a>
      </li>
      <li>
        <a href="#">
          Courses
        </a>
      </li>
      <li>
        <a href="#">
          Contact
        </a>
      </li>
    </ul>

  </div>
      <div class="input-group">
      <input class="me-2" required="" type="text" name="search" id="searchInpt">
      <label class="search-label">Search</label>
      <button class="searchBtn" type="submit">Search</button>
    </div>
</header> -->

















<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand logo" href="#">
      <img src="/assets/images/logo.png" alt="Logo" width="100" height="25" class="d-inline-block">
      EduZone
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">

      <!-- <input type="checkbox" id="navCheckbox">
      <label for="navCheckbox" class="toggle">
        <div class="bars" id="bar1"></div>
        <div class="bars" id="bar2"></div>
        <div class="bars" id="bar3"></div>
      </label> -->
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0" id="linksUl">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">All Courses</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Category
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Cat #1</a></li>
            <li><a class="dropdown-item" href="#">Cat #2</a></li>
            <li><a class="dropdown-item" href="#">Cat #3</a></li>
            <li><a class="dropdown-item" href="#">Cat #4</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <div class="input-group">
          <input class="me-2" required="" type="text" name="search" id="searchInpt">
          <label class="search-label">Search</label>
          <button class="btn" id="searchBtn" type="submit">Search</button>
        </div>
      </form>
    </div>
  </div>
</nav>
