
// .container-xl {
//   width: 100%;
//   overflow-x: auto;
// }

// .table-responsive {
//   overflow-y: hidden;
// }

.table-wrapper {
  // width: max-content;
}

// .table-title {
//   margin-bottom: 15px;
// }

// .table-content {
//   width: max-content;
// }

.img-preview {
  width: 50%;
  height:  50%;
  margin-top: 10px;
}

// .validationError {
//   margin-top: 5px;
// }
