<div class="container-xl">
  <div class="table-responsive">
    <div class="table-wrapper">
      <div class="table-title">
        <div class="row">
          <div class="col-sm-6">
            <h4><b>Update Course</b></h4>
          </div>
          <div class="col-sm-6">
            <a routerLink="/profile/admin/dashboard" class="btn btn-success back"><i class='fas fa-arrow-circle-left'></i>
              Back</a>
          </div>
        </div>
      </div>
      <form #courseForm="ngForm">
        <div class="table-content">
          <div class="form-group p-10 row">
            <div class="col-sm-3">
              <label for="title" class="p-t-b-10">Title<span class="requiredStar">*</span></label>
            </div>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="title" required maxlength="255"
                [(ngModel)]="editCourseForm.title" name="title" #title="ngModel">
              <div *ngIf="title.errors && isSubmitted" class="alert alert-danger validationError">
                <div [hidden]="!title.errors['required']">
                  title is required
                </div>
              </div>
            </div>
          </div>

          <div class="form-group p-10 row">
            <div class="col-sm-3">
              <label for="description" class="p-t-b-10">Description<span class="requiredStar">*</span></label>
            </div>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="description" required maxlength="255"
                [(ngModel)]="editCourseForm.description" name="description" #description="ngModel">
              <div *ngIf="description.errors && isSubmitted" class="alert alert-danger validationError">
                <div [hidden]="!description.errors['required']">
                  description is required
                </div>
              </div>
            </div>
          </div>

          <div class="form-group p-10 row">
            <div class="col-sm-3">
              <label for="category" class="p-t-b-10">Category<span class="requiredStar">*</span></label>
            </div>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="category" required maxlength="255"
                [(ngModel)]="editCourseForm.category" name="category" #category="ngModel">
              <div *ngIf="category.errors && isSubmitted" class="alert alert-danger validationError">
                <div [hidden]="!category.errors['required']">
                  category is required
                </div>
              </div>
            </div>
          </div>

          <div class="form-group p-10 row">
            <div class="col-sm-3">
              <label for="price" class="p-t-b-10">Price<span class="requiredStar">*</span></label>
            </div>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="price" required maxlength="255"
                [(ngModel)]="editCourseForm.price" name="price" #price="ngModel">
              <div *ngIf="price.errors && isSubmitted" class="alert alert-danger validationError">
                <div [hidden]="!price.errors['required']">
                  Price is required
                </div>
              </div>
            </div>
          </div>

          <div class="form-group p-10 row">
            <div class="col-sm-3">
              <label for="price" class="p-t-b-10">Image<span class="requiredStar">*</span></label>
            </div>
            <div class="col-sm-9">
              <input type="file" class="form-control" id="image" required maxlength="255"
                [(ngModel)]="editCourseForm.image" name="image" #image="ngModel" (change)="handleImageUpload($event)">
              <div *ngIf="image.errors && isSubmitted" class="alert alert-danger validationError">
                <div [hidden]="!image.errors['required']">
                  image is required
                </div>
              </div>
            </div>
          </div>

        </div>
        <div class="table-footer">
          <button class="btn btn-success" (click)="EditCourse(courseForm.form.valid)">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>
