<section class="container py-5">
  <!-- Frist Row For Title -->
<div class="row">
  <div class="title container">
    <h1> Enrolment options</h1>
    <div class="line my-2"></div>
    <p class="py-3">Welcome! Edu Zone is an easy platform to use when you’re online learning. </p>
  </div>
</div>
  <!-- Second Row For Course Enroll -->
<div class="container flex-column justify-content-center algin-item-center">
<div class="row" *ngIf = "course"> 
  <div class="container mb-3 col-lg-12 rounded-4 d-flex justify-content-center algin-item-center">
    <div class="card mb-3" style="max-width: 80%;">
      <div class="row g-0">
        <div class="col-md-5">
          <img [src]="'assets/images/courses/' + course.image" class="img-fluid rounded-start h-100">
        </div>
        <div class="col-md-7">
          <div class="card-body">
            <div class="star mb-3">
              <span><i class="bi bi-star-fill"></i></span>
              <span><i class="bi bi-star-fill"></i></span>
              <span><i class="bi bi-star-fill"></i></span>
              <span><i class="bi bi-star-half"></i></span>
            </div>
            <h5 class="card-title">{{course.title}}</h5>
            <p class="card-text">{{course.description}}</p>
            <p class="card-text">{{course.price}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row container mt-auto py-2 justify-content-center" *ngIf = "course">
  <button [routerLink]="['/course/enroll/', course._id]" type="button" class="btn btn-lg  col-lg-6">Enrol Now</button>
</div>
</div>
</section>
